/* fonts */
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #f1f4f9;
	color: #4e5e6a;
	font-size: 13px;
	font-family: 'open_sansregular', sans-serif;	
}

.size-sm {
	font-size: 12px;
}

.align-center {
	text-align: center;
}

.margin-top-20 {
	margin-top: 20px;
}

form i {
	color: #a94442;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	margin-top: 5px;	
}	

.form-control {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #dce1e4;
	border-radius: 0;
	box-shadow: none !important;
	font-size: 13px;
	padding: 6px 10px !important;
	transition: all 0.2s ease-in-out 0s;
}

.form-control:focus {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #bdc5c9;
}


.msg {
	background: #e08a3c none repeat scroll 0 0;
	border: 1px solid #f3f3f3;
	color: #fff;
	margin: 0 0 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 13px;
}

.error_msg {
	background: #c44c4d none repeat scroll 0 0;
	border: 1px solid #f3f3f3;
	color: #fff;
	margin: 0 0 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 13px;
}

.btn-default.disabled, 
.btn-default.disabled.active, 
.btn-default.disabled.focus, 
.btn-default.disabled:active, 
.btn-default.disabled:focus, 
.btn-default.disabled:hover, 
.btn-default[disabled], 
.btn-default.active[disabled], 
.btn-default.focus[disabled], 
.btn-default[disabled]:active, 
.btn-default[disabled]:focus, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default, 
fieldset[disabled] .btn-default.active, 
fieldset[disabled] .btn-default.focus, 
fieldset[disabled] .btn-default:active, 
fieldset[disabled] .btn-default:focus, 
fieldset[disabled] .btn-default:hover {
  background-color: #fff;
  border-color: #ccc;
}

.btn, *:active, *:focus, *:hover {
	outline: 0 none !important;
}

.btn {
	border: 1px solid transparent;
	border-radius: 0;
	font-size: 13px;
}

.btn-default {
	background-color: #e6e6e6;
	border-color: #afafaf;
	color: #333;
}

.btn-primary {
	background-color: #7a6fbe;
	border-color: transparent;
	color: #fff;
}

.btn-primary:hover {
	background-color: #6a5fac;
	border-color: transparent;	
}

.btn-success {
	background-color: #22baa0;
	border-color: transparent;
	color: #fff;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
	background-color: #1db198;
	border-color: transparent;	
}	

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
	color:#fff;
	background-color: #1db198;
	border-color: transparent;	
}

.btn-info {
	background-color: #12afcb;
	border-color: transparent;
	color: #fff;
	margin: 2px 0 ;
}

.btn-info:hover {
	background-color: #08a7c3;
	border-color: transparent;	
}	

.btn-warning {
	background-color: #f2ca4c;
	border-color: transparent;
	color: #fff;
}

.btn-warning:hover {
	background-color: #e8bf40;
	border-color: transparent;	
}	

.btn-danger {
	background-color: #f25656;
	border-color: transparent;
	color: #fff;
}

.btn-danger.spl {
	border-radius: 3px;
	padding: 3px 12px;
}	

.btn-danger:hover {
	background-color: #e14444;
	border-color: transparent;
}

div#main-wrapper {
	margin: 5%;
}

.center {
	float: none !important;
	margin: 0 auto;
}

div.login-box {
	margin: 0 auto;
	max-width: 400px;	
}

.title-type-a {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;	
}